<h3 style="color: steelblue;
text-align: center;
font-weight: 600;
font-size: 2vh;">Cierre Acta Curso</h3>
<mat-divider></mat-divider>

    <form class="example-form">
        <div style="padding-top: 20px;padding-bottom: 30px;">
            <p>El acta sera se dara por cerrada.</p><br><p>¿Está seguro de continuar con esta acción?</p>
        </div>
        <mat-divider></mat-divider>
        <div style="display: flex;justify-content: space-between;padding: 10px;">
            <div><button mat-button mat-dialog-close>Cancelar</button></div>
            <div><button (click)="cerrarActa()" mat-button color="primary">Confirmar</button></div>
        </div>
      </form>
