<h3 style="color: steelblue;
text-align: center;
font-weight: 600;
font-size: 2vh;">Asignar Rol Docente</h3>
<mat-divider></mat-divider>

    <form class="example-form">
        <div style="padding-top: 20px;padding-bottom: 30px;">
            <mat-label>Ingrese CI del Usuario</mat-label>
              <mat-form-field class="example-full-width">
                    <input  [(ngModel)]="ci" matInput [formControl]="CiControl" type="number" min="0" name="input5">
                    <mat-error *ngIf="CiControl.hasError('required')">
                        Ingrese CI. del usuario
                      </mat-error>
              </mat-form-field>


        </div>
        <mat-divider></mat-divider>
        <div style="display: flex;justify-content: space-between;padding: 10px;">
            <div><button mat-button mat-dialog-close>Cancelar</button></div>
            <div><button mat-button (click)="getDocente()" color="primary">Asignarle Rol</button></div>
        </div>


      </form>