<h3 style="color: firebrick;
text-align: center;
font-weight: 600;
font-size: 2vh;">Quitar Previa</h3>
<mat-divider></mat-divider>

    <form class="example-form">
        <div style="padding-top: 20px;padding-bottom: 30px;">
            <p>Se quitar previa del curso.</p><br><p>¿Está seguro de continuar con esta acción?</p>
        </div>
        <mat-divider></mat-divider>
        <div style="display: flex;justify-content: space-between;padding: 10px;">
            <div><button mat-button mat-dialog-close>Cancelar</button></div>
            <div><button (click)="quitPrevia()" mat-raised-button color="warn">Confirmar</button></div>
        </div>   
      </form>
