<h3 style="color: steelblue;
text-align: center;
font-weight: 600;
font-size: 2vh;">Nuevo Usuario Docente</h3>
<mat-divider></mat-divider>

<form class="example-form">
  <div style="padding-top: 20px;padding-bottom: 30px;">
      <table class="example-full-width" cellspacing="0"><tr>
          <td><mat-form-field class="example-full-width">
            <mat-label>Nombre</mat-label>
            <input [(ngModel)]="per.nombre" [formControl]="nomFormControl" [ngModelOptions]="{standalone: true}" matInput name="input1">
            <mat-error *ngIf="nomFormControl.hasError('required')">
              Ingrese nombre
            </mat-error>
          </mat-form-field></td>
          <td><mat-form-field class="example-full-width">
            <mat-label>Apellido</mat-label>
            <input [(ngModel)]="per.apellido" [formControl]="apeFormControl"  [ngModelOptions]="{standalone: true}" matInput name="input2">
            <mat-error *ngIf="apeFormControl.hasError('required')">
              Ingrese apellido
            </mat-error>
          </mat-form-field></td>
        </tr></table> 

        <mat-form-field class="example-full-width">
    <mat-label>Email</mat-label>
    <input matInput  [(ngModel)]="per.correo" [formControl]="emeFormControl"  [ngModelOptions]="{standalone: true}" name="input3"  placeholder="Ex. pat@example.com">
    <mat-error *ngIf="emeFormControl.hasError('required')">
      Ingrese email
    </mat-error>
    <mat-error *ngIf="emeFormControl.hasError('email')">
      Ingrese email valido Ex. : ejemplo@hotmail.com
    </mat-error>
        </mat-form-field>  
        <table class="example-full-width" cellspacing="0"><tr>
          <td><mat-form-field class="example-full-width">
            <mat-label>Telefono</mat-label>
            <input [(ngModel)]="per.telefono" [formControl]="telFormControl" [ngModelOptions]="{standalone: true}" matInput name="input4">
            <mat-error *ngIf="telFormControl.hasError('required')">
              Ingrese telefono
            </mat-error>
          </mat-form-field></td>
          <td><mat-form-field class="example-full-width">
            <mat-label>Documento CI.</mat-label>
            <input matInput [(ngModel)]="per.ci"  [formControl]="ciFormControl"  [ngModelOptions]="{standalone: true}" name="input5">
            <mat-error *ngIf="ciFormControl.hasError('required')">
              Ingrese CI.
            </mat-error>
          </mat-form-field></td>
        </tr></table> 

        <mat-form-field appearance="fill">
          <mat-label>Fecha de Nacimiento</mat-label>
          <input matInput [(ngModel)]="dat" [ngModelOptions]="{standalone: true}" [formControl]="fecha1FormControl" [matDatepicker]="picker" placeholder="Date" class="form-control" >
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <mat-error *ngIf="fecha1FormControl.hasError('required')">
            Ingrese Fecha de Nacimiento
          </mat-error>
        </mat-form-field>
        <table class="example-full-width" cellspacing="0"><tr>
          <td>
          <mat-form-field class="example-full-width">
            <input [(ngModel)]="dir.departamento"
                   type="text"
                   placeholder="Departamento"
                   aria-label="Number"
                   matInput
                   [formControl]="depFormControl"
                   [matAutocomplete]="auto" name="input18">
            <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
              <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                {{option}}
              </mat-option>
            </mat-autocomplete>
            <mat-error *ngIf="depFormControl.hasError('required')">
              Ingrese Departamento
            </mat-error>
          </mat-form-field></td>
          <td><mat-form-field class="example-full-width">
            <mat-label>Ciudad</mat-label>
            <input [(ngModel)]="dir.ciudad" [formControl]="ciuFormControl" matInput name="input8">
            <mat-error *ngIf="ciuFormControl.hasError('required')">
              Ingrese Ciudad
            </mat-error>
          </mat-form-field></td>
        </tr></table> 
        <mat-form-field class="example-full-width">
          <mat-label>Direccion</mat-label>
          <input [(ngModel)]="dir.calle" [formControl]="dirFormControl"  matInput name="input9">
          <mat-error *ngIf="dirFormControl.hasError('required')">
            Ingrese Direccion
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Sexo</mat-label>
          <mat-select [(value)]="per.sexo" >
            <mat-option value="Hombre">Masculino</mat-option>
            <mat-option value="Mujer">Femenino</mat-option>
          </mat-select>

        </mat-form-field>    
  </div>
        <mat-divider></mat-divider>
        <div style="display: flex;justify-content: space-between;padding: 10px;">
            <div><button mat-button mat-dialog-close>Cancelar</button></div>
            <div><button mat-button (click)="create()" color="primary">Confirmar Docente</button></div>
        </div>


      </form>