<h3 style="color: steelblue;
text-align: center;
font-weight: 600;
font-size: 2vh;">Alta Periodo de Inscripción</h3>
<mat-divider></mat-divider>

    <form class="example-form">
        <div style="padding-top: 20px;padding-bottom: 30px;">

              <mat-form-field appearance="fill" class="example-full-width">
                <mat-label>Fecha que Inicia</mat-label>
                <input matInput [(ngModel)]="ini" [ngModelOptions]="{standalone: true}" [formControl]="fecha1FormControl" [matDatepicker]="picker1" >
                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                <mat-datepicker #picker1></mat-datepicker>
                <mat-error *ngIf="fecha1FormControl.hasError('required')">
                  Ingrese Fecha
                </mat-error>
              </mat-form-field>
              
              <mat-form-field appearance="fill" class="example-full-width">
                <mat-label>Fecha en que Termina</mat-label>
                <input matInput [(ngModel)]="fin" [ngModelOptions]="{standalone: true}" [formControl]="fecha2FormControl"  [matDatepicker]="picker2" >
                <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                <mat-datepicker #picker2></mat-datepicker>
                <mat-error *ngIf="fecha2FormControl.hasError('required')">
                  Ingrese Fecha
                </mat-error>
              </mat-form-field>
              <mat-label style="color: steelblue;font-weight: 600;">Seleccione una Carrera:</mat-label>
              <div class="example-container" style=" margin-top: 10px;overflow-y: auto;height: 20vh;">
              <mat-selection-list #shoes [(ngModel)]="carrera" [ngModelOptions]="{standalone: true}" [multiple]="false" >
                <mat-list-option *ngFor="let shoe of carreras" [value]="shoe">
                  {{shoe.nombre}}
                </mat-list-option>
              </mat-selection-list>
              </div>
         
              <p style="margin-top: 20px;margin-left: 10px;">
                Carrera Seleccionada : {{shoes.selectedOptions.selected[0]?.value.nombre}}
              </p>
  
        </div>
        <mat-divider></mat-divider>
        <div style="display: flex;justify-content: space-between;padding: 10px;">
            <div><button mat-button mat-dialog-close>Cancelar</button></div>
            <div><button mat-raised-button (click)="crear()" color="primary">Comenzar Periodo</button></div>
        </div>


      </form>