<div class="content">
    <div style="padding: 20px;color: white;padding-bottom: 0px;">
        <h1 style="font-size: large;">Calificar Cursos Activos</h1>
    </div> <mat-divider style="background: darkorange;margin: 20px;"></mat-divider>

    <div class="select" style="display: flex;justify-content: space-between;;color: white;padding-top: 0px;">
        <div class="carr">
  
          <mat-card class="example-card" style="height: 50vh;min-width: 250px;margin: 20px;">
            <mat-card-header>
              <mat-card-title style="color: firebrick;">Cursos</mat-card-title>
              <mat-card-subtitle>Periodos Lectivos</mat-card-subtitle>
            </mat-card-header>
    
            <mat-card-content>
              <mat-selection-list #shoes [multiple]="false" style="overflow-y: auto;min-width: 250px;height:40vh;">
                <mat-list-option *ngFor="let shoe of typesOfShoes" [value]="shoe" (click)="actaPeriodo(this.shoe.actas)" >
                  <div style="display: flex;align-items: center;
                  justify-content: space-between;">
                  <div>{{shoe.curso.nombre}}</div>
                  <div>{{shoe.sede.nombre}}</div>  
                </div>
                   
                </mat-list-option>
              </mat-selection-list>
            </mat-card-content>
    
          </mat-card>
      </div>
      <div class="per">
          <p style="font-size: 1rem;">Actas a Calificar</p>
          <div class="per-list" style="background: white;">
              <div class="example-container ">
                  <table mat-table [dataSource]="dataSource">

                    <!-- Position Column -->
                    <ng-container matColumnDef="nombre">
                      <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Nombre </th>
                      <td mat-cell *matCellDef="let element" style="text-align: center;"> {{element.usuario.persona.nombre}} </td>
                    </ng-container>

                    <ng-container matColumnDef="apellido">
                      <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Apellido </th>
                      <td mat-cell *matCellDef="let element" style="text-align: center;"> {{element.usuario.persona.apellido}} </td>
                    </ng-container>

                    <ng-container matColumnDef="CI">
                      <th mat-header-cell *matHeaderCellDef style="text-align: center;"> CI. </th>
                      <td mat-cell *matCellDef="let element" style="text-align: center;"> {{element.usuario.persona.ci}} </td>
                    </ng-container>

                    <!-- Name Column -->
                    <ng-container matColumnDef="nota">
                      <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Nota </th>
                      <td mat-cell *matCellDef="let element" style="text-align: center;"> {{element.calificacion}} </td>
                    </ng-container>

                    <ng-container matColumnDef="estado">
                      <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Estado </th>
                      <td mat-cell *matCellDef="let element" style="text-align: center;"> {{element.estado}} </td>
                    </ng-container>

                    <ng-container matColumnDef="acciones">
                      <th mat-header-cell *matHeaderCellDef style="text-align: center;" style="text-align: center;"> Acciones </th>
                      <td mat-cell *matCellDef="let element"  style="text-align: center;" style="text-align: center;">
                        <div *ngIf="element.estado === 'abierta'" >
                          <button mat-flat-button (click)="addCalificacion(element.idacta)" color="primary"  matTooltip="Añadir calificacion" ><span class="material-icons">add</span></button>
                        </div>
                        <div *ngIf="element.estado === 'calificado'" >
                          <button mat-flat-button (click)="modCalificacion(element.idacta,element.calificacion)" color="primary" matTooltip="Modificar Calificacion" ><span class="material-icons">edit</span></button>
                        </div>
                      </td>
                    </ng-container>

                    <tr mat-header-row  *matHeaderRowDef="columnsToDisplay; sticky: true"></tr>
                    <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>

                  </table>
                </div>
          </div>
      </div>
  </div>
