<h3 style="color: steelblue;
text-align: center;
font-weight: 600;
font-size: 2vh;">Modificar Periodo de Inscripción Lectivo</h3>
<mat-divider></mat-divider>

    <form class="example-form">
        <div style="padding-top: 20px;padding-bottom: 30px;">

              <mat-form-field appearance="fill" class="example-full-width">
                <mat-label>Fecha Inicial</mat-label>
                <input matInput  [(ngModel)]="ini" [ngModelOptions]="{standalone: true}"  [formControl]="fecha1FormControl" [matDatepicker]="picker1" >
                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                <mat-datepicker #picker1></mat-datepicker>
                <mat-error *ngIf="fecha1FormControl.hasError('required')">
                  Ingrese Fecha que inicia
                </mat-error>
              </mat-form-field>
              <mat-form-field appearance="fill" class="example-full-width">
                <mat-label>Fecha que Finaliza</mat-label>
                <input matInput  [(ngModel)]="fin" [ngModelOptions]="{standalone: true}"  [formControl]="fecha2FormControl" [matDatepicker]="picker2" >
                <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                <mat-datepicker #picker2></mat-datepicker>
                <mat-error *ngIf="fecha2FormControl.hasError('required')">
                  Ingrese Fecha que finaliza
                </mat-error>
              </mat-form-field>
        </div>
        <mat-divider></mat-divider>
        <div style="display: flex;justify-content: space-between;padding: 10px;">
            <div><button mat-button mat-dialog-close>Cancelar</button></div>
            <div><button  mat-raised-button (click)="update()" color="primary">Modificar Periodo</button></div>
        </div>


      </form>