#tree{
    width: 100%;
    height: 53vh;
    border: 1px solid gray;
    background-color:white;
    margin: 20px;
}

.container{
    padding: 20px;
    height: 95vh;
    background: #141E30;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #243B55, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
  }
  h1{
    color: #fff;
  }
  table {
    width: 100%;
  }
  
  tr.example-detail-row {
    height: 0;
  }
  
  tr.example-element-row:not(.example-expanded-row):hover {
    background: whitesmoke;
  }
  
  tr.example-element-row:not(.example-expanded-row):active {
    background: #efefef;
  }
  
  .example-element-row td {
    border-bottom-width: 0;
  }
  
  .example-element-detail {
    overflow: hidden;
    display: flex;
  }
  
  
  .example-element-symbol {
    font-weight: bold;
    font-size: 40px;
    line-height: normal;
  }
  
  .example-element-description {
    padding: 16px;
  }
  
  .example-element-description-attribution {
    opacity: 0.5;
  }
  
  th{
    font-weight: 900;
    color: #fff;
    background-color:steelblue;
    font-size: medium;
  }
  ::ng-deep .mat-tooltip {
    background: rgb(83, 64, 168)!important;
    font-size: 12px!important;
  }


  .per-data{
    background-color: whitesmoke;

    box-shadow: 5px 5px 30px 7px rgba(94, 90, 90, 0.25), -5px -5px 30px 7pxrgba(94, 90, 90, 0.25);
  }

  .card-doc {
    background-color: white;
    height: 5vh;

    box-shadow: 5px 5px 30px 7px rgba(94, 90, 90, 0.25), -5px -5px 30px 7px rgba(94, 90, 90, 0.25);
  }

  * {
    scrollbar-width: thin;
    scrollbar-color: darkorange white;
  }
  
  
  /* Works on Chrome/Edge/Safari */
  *::-webkit-scrollbar {
    width: 12px;
  }
  *::-webkit-scrollbar-track {
    background: white;
  }
  *::-webkit-scrollbar-thumb {
    background-color: darkorange;
    border-radius: 20px;
    border: 3px solid  white;
  }
.chart-container{
  height: 500px;
  width: 700px;
}
