<div class="container" style="padding: 20px;">
    <div >
        <h1>Áreas de Estudio</h1>
        <mat-divider style="background: darkorange;"></mat-divider>
        <div style="padding-top: 20px;padding-bottom:20px;display: flex; align-items:center;justify-content: space-between;">
            <p style="color: azure;width: 50vh;">Gestión de áreas de estudio, indica el nombre de la área de estudio, así como la carrera y cursos que la misma incluya.
                </p>
            <button mat-button matTooltip="Crear Nueva Area de Estudio"  style="color: rgb(251, 255, 255);border: 2px solid;border-radius: 30px;" (click)="addArea()"><span class="material-icons">
                add
                </span>Crear</button>
            
        </div>
        <mat-divider style="background: darkorange;"></mat-divider>
    </div>

    <div class="tablas" style="display: flex;justify-content: space-between;">
    <div class="carreras" >
        <h1 style="font-size: 2vh;padding-top: 10px;">Áreas de estudio registradas :</h1>


        <table mat-table
        [dataSource]="dataSource" multiTemplateDataRows
        class="mat-elevation-z8" style="width: 60vh;">
            <!-- Position Column -->
            <ng-container matColumnDef="nombre">
                <th mat-header-cell *matHeaderCellDef style="text-align: center;" > Nombre </th>
                <td mat-cell *matCellDef="let element"  style="text-align: center;"> {{element.nombre}} </td>
            </ng-container>
            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Acciones </th>
                <td mat-cell *matCellDef="let element"  style="text-align: center;"> 
                    <button mat-flat-button style="background-color: teal;color: white;margin: 10px;" matTooltip="Ver cursos y carreras"(click)="vertodo(element)" ><span class="material-icons">input</span></button>
                    <button mat-flat-button style="margin: 10px;" color="primary" matTooltip="Modificar registro" (click)="modArea(element)"><span class="material-icons">edit</span></button>
                    <button mat-flat-button style="margin: 10px;" color="warn" matTooltip="Eliminar registro" (click)="elimArea(element)"><span class="material-icons">delete</span></button>
                </td>
            </ng-container> 
          
            <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
            <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
        </table> 
    </div>


    <div class="cursos">      
        <h1 style="font-size: 2vh;padding-top: 10px;">Cursos que pertenecen : </h1>
        <div style="    background: steelblue;width: 30vh;height: 30vh;overflow-y: auto;display: flex;flex-direction: column;justify-content: start;">
            <mat-nav-list  > 
                <mat-list-item *ngFor="let cur of cursos" style="color: azure;font-weight: 500;"><div class="item-lis" style="display: flex;justify-content: space-between;align-items: center;width: 100%;">
                    {{cur.nombre}}
                    <button mat-button  matTooltip="Quitar Cursos del area" (click)="quitarCursoArea(cur)" style="color: rgb(251, 255, 255);border: 2px solid;border-radius: 30px;" ><span class="material-icons">delete</span></button>
                </div>
                </mat-list-item>      

            </mat-nav-list>

            <mat-divider></mat-divider>     

        </div>
        <div style="display: flex;align-items: center;justify-content: center;padding:10px;background: steelblue;border-top: 1px solid white;"> 
            <button mat-button  matTooltip="Agregar Cursos al Area" (click)="addCursoArea()" style="color: rgb(251, 255, 255);border: 2px solid;border-radius: 30px;" ><span class="material-icons">
                add
                </span></button>  

        </div> 
    </div>


  
    <div class="cursos">      
        <h1 style="font-size: 2vh;padding-top: 10px;">Carreras que se dictan : </h1>
        <div style="background: steelblue;width:30vh;height: 40vh;">
            <mat-nav-list   style="height: 100%;overflow-y: auto;"> 
                <mat-list-item *ngFor="let car of carreraArea" style="color: azure;font-weight: 500;"><div class="item-lis" style="display: flex;justify-content: space-between;align-items: center;width: 100%;">
                    {{car.carrera.nombre}}
                    <br>
                    Creditos:{{car.creditoMinimo}}
                    <button mat-button  matTooltip="Indicar Creditos Minimos" (click)="addCreditos(car)" style="color: rgb(251, 255, 255);border: 2px solid;border-radius: 30px;" ><span class="material-icons">edit</span></button>
                </div>
                </mat-list-item>      

            </mat-nav-list>   
        </div>
    </div>


</div>

</div>