.example-form {
    min-width: 200px;
    max-width: 360px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }

  ::ng-deep .notificar-usuario{
    background-color: white;
    color: black;
    margin-top: 20vh !important;
}

::ng-deep .notificar-error{
    background-color: black;
    color: white;
}