<h3 style="color: steelblue;text-align: center;font-weight: 600;font-size: 2vh;">Confirmacion de Inscripcion</h3>
<mat-divider></mat-divider>

    <form class="example-form">
        <div style="padding-top: 20px;padding-bottom: 30px;">
            <p>Serás inscripto al Examen.</p><br><p>¿Estás seguro de confirmar la inscripción?</p>
        </div>
        <mat-divider></mat-divider>
        <div style="display: flex;justify-content: space-between;padding: 10px;">
            <div><button mat-button mat-dialog-close>Cancelar</button></div>
            <div><button (click)="insc()" mat-button color="primary">Confirmar</button></div>
        </div>
      </form>
