<mat-card style="width: 300px;box-shadow: none !important;">
    <mat-card-header>
        <mat-card-title style="color: darkorange;">¡Solicitud Recibida!</mat-card-title>
   
    </mat-card-header>
    <mat-divider></mat-divider>
 <mat-card-content style="padding: 10px;"> 
    <mat-card-subtitle style="color: black;">Será notificado vía email ni bien la petición sea verificada por los administradores.</mat-card-subtitle>   
    </mat-card-content>
    <mat-divider></mat-divider>
        <mat-card-actions>
        <button mat-raised-button (click)="irInicio()" color="primary" style="margin-left: 10px;background-color: darkorange;">Aceptar</button>
     </mat-card-actions>
    </mat-card>

